mixin insert
  +b('insert').set-mt-50
    .container 
      +e('box').d-flex.justify-content-between.align-items-center.w-100.set-h-180
        +e('header', {}, 'h3').fz-32.lh-40 Полный перечень услуг можно просмотреть </br>в прайс-листе
        +e('button', {}, 'a')(href="#").brand-button.link-red.no-line Получить прайс лист