mixin insert
  +b('insert').set-mt-50
    .container 
      +e('box').d-flex.w-100.set-h-180
        +e('header', {}, 'h3') Полный перечень услуг можно просмотреть </br>в прайс-листе
        +e('button').brand-button.link-red.no-line Получить прайс лист