.usage-crm {
    $self: &;
    color: $SuperDarkGray;

    @include mobile {
        padding-top: 60px;
        padding-bottom: 70px;
    }

    & img:nth-child(1) {
        top: 0;
        left: 0;
        width: 413px;
        z-index: -1;
    }

    & img:nth-child(2) {
        top: 444px;
        right: 0;
        width: 1047px;
        height: 1341px;
        z-index: -1;
        @include mobile {
            display: none;
        }
    }

    &__header {
        font-weight: 700;

        @include mobile {
            font-size: 40px;
            margin-bottom: 60px;
        }
    }

    &__box {
        flex-direction: column;
    }

    &__info {
        @include mobile {
            padding-top: 10px;
            margin: 0 auto;
        }
    }

    &__card {

        @include tablet {
            margin-bottom: 60px;
        }

        @include mobile {
            flex-direction: column;
        }

        & img {
            @include tablet {
                width: 350px !important;
                height: 350px !important;
            }

            @include mobile {
                width: 250px !important;
                height: 250px !important;
                margin: 0 auto;
            }
        }

        &:nth-child(even) {
            align-self: flex-end;
            & img {
                order: 1;
                margin-right: 0;
                margin-left: 55px;
                @include mobile {
                    order: 0;
                }
            }

            @include tablet {
                margin: 0 auto;
                margin-bottom: 60px;
            }
        }


        &:last-child {
            margin-bottom: 0;
        }

        & img {
            border-radius: 30px;
        }

        & h3 {
            color: $DarkRed;
        }

        & h2 {
            font-weight: 700;

            @include tablet {
                font-size: 22px;
                line-height: 24px;
            }
        }

        & li {
            color: $DarkGray;
        }

        & ul {
            list-style-type: disc;

            @include tablet {
                font-size: 14px;
                line-height: 24px;
                margin-top: 30px;
            }
        }
    }
}