mixin usage-tel
  +b('usage-crm').set-pb-144.set-pt-119.position-relative
    img(src="/src/static/images/usage-circle-grey.png", alt="circle").position-absolute
    img(src="/src/static/images/usage-circle-big.png", alt="circle").position-absolute
    .container
        +e('header').set-mb-100.fz-56.lh-72.text-center Мы точно знаем, как создавать </br>эффективные рассылки
        +e('box').d-flex
            - 
                cards = [
                    {img: '/src/static/images/usage-tel-card-1.png', number: 'Шаг 1', header: 'Проводим предварительные </br>работы', ul: ["Анализируем целевую аудиторию и собираем </br>клиентскую базу", "Выявляем УТП и конкурентные преимущества </br>вашего предложения", "Ставим цели, которые нужно достичь в процессе </br>работы"]},
                    {img: '/src/static/images/usage-tel-card-2.png', number: 'Шаг 2', header: 'Создаем скрипты', ul: ["Разрабатываем сценарии разговоров и учитываем </br>часто встречающиеся ситуации (обход секретаря, </br>просьба перезвонить, отказ от диалога)", "Отрабатываем возражения и приводим контраргументы </br>в пользу вашей продукции и услуг", "Прописываем скрипты дословно, начиная от </br>приветствия и заканчивая благодарностью за </br>уделенное время", "Тестируем сценарии на реальных звонках и вносим </br>финальные правки в скрипты"]},
                    {img: '/src/static/images/usage-tel-card-3.png', number: 'Шаг 3', header: 'Обзваниваем ваших </br>потенциальных клиентов', ul: ["Обходим секретарей и офис-менеджеров, </br>устанавливаем контакт с лицом, принимающим </br>решения", "Убедительно рассказываем о преимуществах вашего </br>предложения", "Проявляем настойчивость, но не навязываемся", "Не молчим и не бросаем трубку, если разговор идет не </br>по плану", "Передаем теплых клиентов в ваш отдел продаж"]},
                    {img: '/src/static/images/usage-tel-card-4.png', number: 'Шаг 4', header: 'Анализируем результаты', ul: ["Записываем каждый разговор и проверяем </br>эффективность работы наших менеджеров", "Готовим подробный отчет и заносим итоги каждого </br>звонка в документ", "Дорабатываем скрипты при необходимости"]}
                ]
            for card, index in cards
                +e('card').d-flex.set-mb-126
                    img(src= card.img, alt="img").set-w-416.set-h-416.set-mr-55
                    +e('info').set-pt-55
                        h3.fz-20.lh-27= card.number 
                        h2.set-mt-19.fz-32.lh-40!= card.header
                        ul.set-mt-50.fz-18.lh-31
                            - item= card.ul
                            for x in item
                                li!= x