mixin cases-email
  +b('cases-email').position-relative.text-center.set-pb-186.set-pt-38
    img(src="/src/static/images/case_circle-red.png", alt="circle").position-absolute.set-w-705.set-h-705
    img(src="/src/static/images/case_circle-grey.png", alt="circle").position-absolute.set-w-48.set-h-48
    .container
        +e('header', {}, 'header').fz-56.lh-72 Мы точно знаем, </br>что email-рассылки работают
        p.set-mt-38.fz-18.lh-24 Конверсия в заявку из писем в 2-7 раз выше, чем в других каналах рекламы.
        +b('buttons-email')&attributes(attributes).d-flex.set-mt-87
            +e('case', {}, 'a')(href="#").d-flex.flex-column.align-items-center.set-w-306.set-h-344
                +e('emblem', {}, 'img')(src="/src/static/images/case-email-mail.svg", alt="emblem").d-block.set-w-32.set-h-32.set-mt-96
                +e('indicators').set-mt-26 95%
                p.set-mt-10 Доставляемость писем </br>(Delivery rate)
            +e('case', {}, 'a')(href="#").d-flex.flex-column.align-items-center.set-w-306.set-h-344.text-center
                +e('emblem', {}, 'img')(src="/src/static/images/case-email-jackdaw.svg", alt="emblem").d-block.set-w-32.set-h-32.set-mt-96
                +e('indicators').set-mt-26 65%
                p.set-mt-10 Открываемость писем </br>(Open rate)
            +e('case', {}, 'a')(href="#").d-flex.flex-column.align-items-center.set-w-306.set-h-344.text-center
                +e('emblem', {}, 'img')(src="/src/static/images/case-email-repeat.svg", alt="emblem").d-block.set-w-32.set-h-32.set-mt-96
                +e('indicators').set-mt-26 20%
                p.set-mt-10 Конверсия в заказ </br>(Conversion rate)