.cases {
    $self: &;

    @include tablet {
        padding-bottom: 40px;
      }

    &__header {
        color: $SuperDarkGray;
        @include tablet {
            font-size: 22px;
          }
    }

    & p {
        color: $DarkGray;
        @include tablet {
            font-size: 12px;
          }
    }

    & img:nth-child(1) {
        top: 0;
        left: 0;
        z-index: -1;
    }

    & img:nth-child(2) {
        top: 640px;
        left: 110px;
        z-index: -1;
    }

    & img:nth-child(3) {
        top: 272px;
        left: 1175px;
        @include tablet {
            display: none;
          }
    }
}


.buttons {
    $self: &;
    justify-content: space-between;
    padding: 0 150px;
    @include tablet {
        padding: 0 20px;
      }
    @include mobile {
        display: block !important;
        margin-top: 0;
      }
    
    &__case {
        border-radius: 20px;
        transition: 0.6s;
        &:hover {
            background: linear-gradient(#FFFFFF, #F0F0F0);
        }

        @include mobile {
            margin: 0 auto;
        }
    }
    
    &__emblem {
        background-color: $SuperDarkGray;
        border-radius: 5px;
        padding: 6px;
    }

    &__indicators {
        color: $DarkRed;
        font-size: 56px;
        line-height: 76px;
    }

    & p {
        color: $DarkGray;
        font-size: 20px;
        line-height: 24px;
    }

}