

mixin services
  +b('services')
    .container  
        p.set-mt-15.fz-20.lh-27 Комплекс услуг под ключ, для увеличения продаж
        +e('header', {}, 'h2').set-mt-15.fz-56.lh-76  Наши услуги
        +b('cards')&attributes(attributes).d-flex.justify-content-space-between.ja.set-mt-78
          -
            cards = [
              {img: '/src/static/images/card-1.jpg', header: 'Email-маркетинг', array: ["Анализируем имеющиеся ресурсы", "Собираем и сегментируем клиентскую базу", "Разрабатываем стратегию", "Пишем тексты и создаем шаблоны писем", "Запускаем рассылку и анализируем реакцию клиентов"]},
              {img: '/src/static/images/card-1.jpg', header: 'CRM-маркетинг', array: ["Собираем и анализируем данные о клиентах", "Подбираем персональные предложения", "Определяем и внедряем каналы для коммуникации", "Рассылаем персональные предложения, когда они актуальны", "Получаем готовых к покупке клиентов"]},
              {img: '/src/static/images/card-1.jpg', header: 'Телемаркетинг', array: ["Обзваниваем потенциальных клиентов","Ведем разговор по проработанному скрипту","Рассказываем о преимуществах продукта","Подогреваем интерес акциями и скидками","Передаем теплого клиента отделу продаж"]},
              {img: '/src/static/images/card-1.jpg', header: 'Контент-маркетинг', array: ["Создаем полезный и интересный контент", "Показываем вашу экспертность", "Повышаем уровень доверия к компании", "Закрываем возражения", "Подводим к покупке"]},
            ]
          for card, index in cards
              +e('card')
                img(src= card.img, alt="images").set-h-452
                +e('info').set-pl-48.set-mb-74.set-pt-50
                  +e('header', {}, 'a')(href="#").link-red= card.header
                    ul.set-mt-20
                      - item= card.array
                        for x in item
                          li= x