$SuperDarkGray: #3F4450;
$DarkGray: #6C7384;
$Gray: #B6BCC5;
$BrightGray: #F0F0F0;
$ExtraBrightGray: #F5F7F9;
$White: #FFFFFF;
$DarkRed: #C21807;
$Red: #FF0000;
$BrightRed: #FE4F3E;
$GradientRed: radial-gradient(#FE4F3E, #C21807);
$GradientGray: radial-gradient(#DFDFDF, #F5F7F9);