.compatibility-crm {
    $self: &;
    background: $ExtraBrightGray;
    color: $SuperDarkGray;
    opacity: 0.99;

    @include mobile {
        padding-top: 70px;
        padding-bottom: 80px;
    }

    &__header {
        font-weight: 700;

        @include mobile {
            font-size: 30px;
            line-height: 60px;
        }
    }

    & p {
        color: $DarkGray;
        flex-wrap: wrap;

        @include mobile {
            font-size: 12px;
        }
    }

    &__box {
        display: grid;
        gap: 24px;
        grid-template-columns: repeat(auto-fit, minmax(416px, 1fr));
        justify-content: space-between;

        & a {
            @include tablet {
                margin: 0 auto;
            }

            @include mobile {
                margin: 0 auto;
            }
        }
    }

    &__card {
        background: $White;
        justify-content: space-between;
        border-radius: 30px;
        width: 416px;
        height: 200px;
        align-items: center;
        padding: 30px;

        &:hover {
            background: linear-gradient(180deg, #F5F7F9 0%, #F0F0F0 100%);
            box-shadow: 32px 25px 22px 1px rgba(72, 83, 92, 0.2);
        }

        & p {
            color: $SuperDarkGray;
            font-weight: 700;

            @include tablet {
                font-size: 24px;
            }
        }

        &:nth-child(1) {
            margin-bottom: 40px;

            @include tablet {
                margin-bottom: 20px;
            }
        }

    }
}