.menu-crm {
    opacity: 1;

    &__flex {
        @include mobile {
            display: grid !important;
            grid-template: auto / 200px 1fr 194px;
            grid-template-areas: 'block-1 block-2 block-3' 'center center center';
            .logo {
                grid-area: block-1;
            }
            .call {
                grid-area: block-3;
            }
            .center {
                grid-area: center;
                margin: 0 auto;
                width: 100%;
            }
        }
    }
}

.call__button {
    background-color: rgba(255,101,80,0) !important;
  }
