.flex {
    position: relative;
}

.logo {
    &__background{
        position: absolute;
        z-index: -1;
        top: 0;
        left: 0;
        width: 435px;
        height: 205px;
        background-image: url(/src/static/images/circle.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;

    }
}

.center {
    width: 531px;
    &__search {
        padding: 10px 15px 9px 50px;
        border-radius: 17px;
        background: #E8E9EA;
        color: #ffffff;
        box-shadow: inset 0px 0px 6px #BABDC0;
        &-label {
            z-index: 1;
            top: 50%;
            left: 17px;
            transform: translateY(-50%);
            background-image: url(/src/static/images/search.svg);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
        }
    }

    &__search input {
        font-weight: 500;
        border: none;
        background: #E8E9EA;
        color: $SuperDarkGray;
        &::placeholder{ 
        color: $White; 
        }
    }

}

.navbar {
    &__link {
        color: $SuperDarkGray !important;
        margin-right: 50px;
        &:last-child {
            margin-right: 0;
        }
    }

    & a {
        position: relative;
        &:hover {
            background: #DFDFDF;
            box-shadow: 0px 0px 2px 4px #DFDFDF;
        }

        &:active {
            background: $Red;
            box-shadow: 0px 0px 4px 4px $Red;
        }
        }
    

    &__link-jackdaw {
        position: absolute;
        z-index: 1;
        top: 18px;
        left: 56px;
        width: 10px;
        height: 6px;
        transform: translateY(-50%);
        background-image: url(/src/static/images/jackdaw.svg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }

    &__active {
        display: none;
        min-width: 160px;
        top: 20px;
        left: o;
    }

    &__services:hover .navbar__active {
        display: block !important;
    } 

    &__agency {
        & label {
            top: 10px;
            left: 80px !important;
        }

        &:hover .navbar__active {
            display: block !important;
        }
    }

    &__block {
        color: $SuperDarkGray !important;
    }

}

.call {
    &__number {
        color: $DarkGray;
    }

    &__link-telephone {
        z-index: 1;
        top: 50%;
        left: 35px;
        transform: translateY(-50%);
        background-image: url(/src/static/images/telephone.svg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
}

.night {
    align-self: flex-end;
    transition: 0.6s;
    &__moon {
        z-index: 1;
        width: 52px;
        height: 52px;
        background-image: url(/src/static/images/moon.svg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }

    &:hover {
        opacity: 0.5;
    }

}

// .navbar:hover .navbar__active {
//     display: block !important;
// }