mixin menu-crm
  +b('menu-crm')&attributes(attributes)
    .container
        +e('flex').d-flex.w-100.justify-content-between.set-pt-30
            +b('logo').set-mr-90
                a(href="/main.html") 
                    img(src="/src/static/images/keynex.svg", alt="logo")
                +e('text', {}, 'p').set-mt-17 Задаем новый уровень
            +b('center')
                +e('search', {}, 'form')(action="#").position-relative.d-flex.w-100.set-h-42
                    +e('search-label', {}, 'label')(for="search").position-absolute.d-block.set-w-20.set-h-20
                    +e('search-input', {}, 'input')(
                        type="text"
                        placeholder="Поиск по сайту"
                        name="search"
                        ).w-100.h-100.fz-12.align-self-center
                +b('navbar').d-flex.w-100.justify-content-between.set-mt-13.fz-14.lh-20
                    +e('services').position-relative
                        +e('link', {m: '1'}, 'a')(href="#").link.set-pr-22   Услуги
                        +e('active').position-absolute
                            - services = [{name: "Email-маркетинг", href: "/email.html"}, {name: "CRM-маркетинг", href: "/crmMarketing.html"}, {name: "Телемаркетинг", href: "/telemarketing.html"}, {name: "Контент-маркетинг", href: "/con-marcketing.html"}]
                                for i, index in services
                                    +e('block', {}, 'a')(href= i.href).d-block.link.fz-14.lh-30= i.name
                    +e('link-jackdaw', {}, 'label')(for="jackdaw")
                    +e('link', {}, 'a')(href="#").link Кейсы
                    +e('agency').position-relative
                        +e('link', {}, 'a')(href="#").link.set-pr-22  Агентство
                        +e('active').position-absolute
                            - services = [{name: "О нас", href: "#"}, {name: "Карьера", href: "#"}, {name: "Блог", href: "#"}]
                                    for i, index in services
                                        +e('block', {}, 'a')(href= i.href).d-block.link.fz-14.lh-30= i.name
                        +e('link-jackdaw', {}, 'label')(for="jackdaw")
                    +e('link', {}, 'a')(href="#").link Блог
                    +e('link', {}, 'a')(href="#").link Контакты
            +b('call')
                +e('number').position-relative.fz-18.set-pl-65 8 (903) 920-00-19
                    +e('link-telephone', {}, 'label')(for="telephone").position-absolute.set-w-21.set-h-21
                +e('button', {}, 'a')(href="#").brand-button.phone_button.link-red.set-mt-13 ЗАКАЗАТЬ ЗВОНОК
                    +icon('phone_button').icon_button.set-mr-12
            +b('night')&attributes(attributes)
                +e('moon', {}, 'label')(for="moon")