.jump-crm {
    $self: &;
    background: radial-gradient(72.08% 158.96% at -18.33% -6.66%, #6C7384 0%, #3F4450 100%);
    color: $White;

    &__header {
        font-weight: 700;

        @include mobile {
            font-size: 20px;
            line-height: 30px;
        }
    }

    &__cards {
        display: grid;
        gap: 25px;
        grid-template-columns: repeat(auto-fit, minmax(416px, 1fr));
        justify-content: space-between;
    }

    &__card {
        border-radius: 30px;
        padding: 35px 0 0 30px;
        transition: 0.5s;

        @include tablet {
            margin: 0 auto;
        }

        @include mobile {
            margin: 0 auto;
        }

        &_1 {
            width: 100%;
            height: 100%;
            background-image: url(/src/static/images/jump-email.jpg);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
        }

        &_2 {
            width: 100%;
            height: 100%;
            background-image: url(/src/static/images/jump-telemarketing.jpg);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
        }

        &_3 {
            width: 100%;
            height: 100%;
            background-image: url(/src/static/images/jump-marcketing.jpg);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
        }

        &_4 {
            width: 100%;
            height: 100%;
            background-image: url(/src/static/images/jump-crm.jpg);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
        }

        &:hover {
            box-shadow: 4px 4px 10px 23px rgba(228, 229, 231, 0.2);
        }
    }
}