

.link {
  color: #FFFF !important;
  text-decoration: none;

  &-grey {
    color: $SuperDarkGray !important;
  }

  &-red {
    color: $Red ;
  }
  
  &.line {
    text-decoration: underline;
  }
}