mixin questions
  +b('questions').set-pb-100
    .container
        +e('header', {}, 'h3').text-center.set-mb-80 Наши эксперты отвечают </br>на часто задаваемые вопросы
        +b('question', {m: '1'})&attributes(attributes).d-flex
            +e('jackdaw').set-w-46.set-h-46
                img(src="/src/static/images/jackdaw.svg", alt="jackdaw").set-w-16.set-h-14
            +e('header', {}, 'h3') В чем ваша уникальность, почему мы должны выбрать именно ваше агенство?
                +e('answer').d-flex.set-pl-32.set-mt-32
                    +e('defendant').text-center
                        img(src="/src/static/images/answer_photo.png", alt="photo").set-w-100.set-h-100
                        p.set-mt-12 <span>Стратег-аналитик</span> </br>Марина Викторовна Сергеева
                    +e('text').set-ml-35 Наша уникальность в подходе к работе и отношению к людям. Мы говорим с заказчиками на одном языке. </br>Учитываем специфику бизнеса и находим такие инструменты, которые помогают получать и удерживать </br>клиентов. Для нас важна обратная связь не только в отношении нашей работы, а общий уровень </br>удовлетворенности клиента. Если беремся за дело, то реально оцениваем свои силы и доводим его до </br>результата.
        +b('question')&attributes(attributes).d-flex
            +e('jackdaw').set-w-46.set-h-46
                img(src="/src/static/images/jackdaw.svg", alt="jackdaw").set-w-16.set-h-14
            +e('header', {}, 'h3') У нас в штате есть маркетолог, чем вы можете дополнительно помочь?
                +e('answer').d-flex.set-pl-32.set-mt-32
                    +e('defendant').text-center
                        img(src="/src/static/images/answer_photo.png", alt="photo").set-w-100.set-h-100
                        p.set-mt-12 <span>Стратег-аналитик</span> </br>Марина Викторовна Сергеева
                    +e('text').set-ml-35 Наша уникальность в подходе к работе и отношению к людям. Мы говорим с заказчиками на одном языке. </br>Учитываем специфику бизнеса и находим такие инструменты, которые помогают получать и удерживать </br>клиентов. Для нас важна обратная связь не только в отношении нашей работы, а общий уровень </br>удовлетворенности клиента. Если беремся за дело, то реально оцениваем свои силы и доводим его до </br>результата.
        +b('question')&attributes(attributes).d-flex
            +e('jackdaw').set-w-46.set-h-46
                img(src="/src/static/images/jackdaw.svg", alt="jackdaw").set-w-16.set-h-14
            +e('header', {}, 'h3') У нас нет собранной бызы контактов, только записи в календаре и телефоне. </br>Поможете с этим?
                +e('answer').d-flex.set-pl-32.set-mt-32
                    +e('defendant').text-center
                        img(src="/src/static/images/answer_photo.png", alt="photo").set-w-100.set-h-100
                        p.set-mt-12 <span>Стратег-аналитик</span> </br>Марина Викторовна Сергеева
                    +e('text').set-ml-35 Наша уникальность в подходе к работе и отношению к людям. Мы говорим с заказчиками на одном языке. </br>Учитываем специфику бизнеса и находим такие инструменты, которые помогают получать и удерживать </br>клиентов. Для нас важна обратная связь не только в отношении нашей работы, а общий уровень </br>удовлетворенности клиента. Если беремся за дело, то реально оцениваем свои силы и доводим его до </br>результата.
        +b('question')&attributes(attributes).d-flex
            +e('jackdaw').set-w-46.set-h-46
                img(src="/src/static/images/jackdaw.svg", alt="jackdaw").set-w-16.set-h-14
            +e('header', {}, 'h3') Есть какие-то ваши авторские методы отстройки клиентов от его конкурентов?
                +e('answer').d-flex.set-pl-32.set-mt-32
                    +e('defendant').text-center
                        img(src="/src/static/images/answer_photo.png", alt="photo").set-w-100.set-h-100
                        p.set-mt-12 <span>Стратег-аналитик</span> </br>Марина Викторовна Сергеева
                    +e('text').set-ml-35 Наша уникальность в подходе к работе и отношению к людям. Мы говорим с заказчиками на одном языке. </br>Учитываем специфику бизнеса и находим такие инструменты, которые помогают получать и удерживать </br>клиентов. Для нас важна обратная связь не только в отношении нашей работы, а общий уровень </br>удовлетворенности клиента. Если беремся за дело, то реально оцениваем свои силы и доводим его до </br>результата.
        +b('question')&attributes(attributes).d-flex
            +e('jackdaw').set-w-46.set-h-46
                img(src="/src/static/images/jackdaw.svg", alt="jackdaw").set-w-16.set-h-14
            +e('header', {}, 'h3') Как начать с вами работать. Наверное, снова нужно заполнять очень много брифов?
                +e('answer').d-flex.set-pl-32.set-mt-32
                    +e('defendant').text-center
                        img(src="/src/static/images/answer_photo.png", alt="photo").set-w-100.set-h-100
                        p.set-mt-12 <span>Стратег-аналитик</span> </br>Марина Викторовна Сергеева
                    +e('text').set-ml-35 Наша уникальность в подходе к работе и отношению к людям. Мы говорим с заказчиками на одном языке. </br>Учитываем специфику бизнеса и находим такие инструменты, которые помогают получать и удерживать </br>клиентов. Для нас важна обратная связь не только в отношении нашей работы, а общий уровень </br>удовлетворенности клиента. Если беремся за дело, то реально оцениваем свои силы и доводим его до </br>результата.