mixin questions-con
  +b('questions').set-pb-200.set-pt-60
    .container
        +e('header', {}, 'h3').text-center.set-mb-80.fz-56.lh-72 Наши эксперты отвечают </br>на часто задаваемые вопросы
        -
            questions = [
                { img: '/src/static/images/answer_photo.png', header: 'Кто будет писать статьи?', name: '<span>Стратег-аналитик</span> <br>Марина Викторовна Сергеева', text: 'Наша уникальность в подходе к работе и отношению к людям. Мы говорим с заказчиками на одном языке. <br>Учитываем специфику бизнеса и находим такие инструменты, которые помогают получать и удерживать <br>клиентов. Для нас важна обратная связь не только в отношении нашей работы, а общий уровень <br>удовлетворенности клиента. Если беремся за дело, то реально оцениваем свои силы и доводим его до </br>результата.' },
                { img: '/src/static/images/answer_photo.png', header: 'Как оценить эффективность контент-маркетинга?', name: '<span>Стратег-аналитик</span> <br>Марина Викторовна Сергеева', text: 'Наша уникальность в подходе к работе и отношению к людям. Мы говорим с заказчиками на одном языке. <br>Учитываем специфику бизнеса и находим такие инструменты, которые помогают получать и удерживать <br>клиентов. Для нас важна обратная связь не только в отношении нашей работы, а общий уровень <br>удовлетворенности клиента. Если беремся за дело, то реально оцениваем свои силы и доводим его до </br>результата.' },
                { img: '/src/static/images/answer_photo.png', header: 'На сайте нашей компании нет страницы для блога, но мы планируем </br>продвигаться через статьи. Что нам делать?', name: '<span>Стратег-аналитик</span> <br>Марина Викторовна Сергеева', text: 'Наша уникальность в подходе к работе и отношению к людям. Мы говорим с заказчиками на одном языке. <br>Учитываем специфику бизнеса и находим такие инструменты, которые помогают получать и удерживать <br>клиентов. Для нас важна обратная связь не только в отношении нашей работы, а общий уровень <br>удовлетворенности клиента. Если беремся за дело, то реально оцениваем свои силы и доводим его до </br>результата.' },
                { img: '/src/static/images/answer_photo.png', header: 'Через сколько времени появятся первые результаты?', name: '<span>Стратег-аналитик</span> <br>Марина Викторовна Сергеева', text: 'Наша уникальность в подходе к работе и отношению к людям. Мы говорим с заказчиками на одном языке. <br>Учитываем специфику бизнеса и находим такие инструменты, которые помогают получать и удерживать <br>клиентов. Для нас важна обратная связь не только в отношении нашей работы, а общий уровень <br>удовлетворенности клиента. Если беремся за дело, то реально оцениваем свои силы и доводим его до </br>результата.' },
            ]
        for question, index in questions
                +b('question').d-flex
                    +e('jackdaw').set-w-46.set-h-46
                        img(src="/src/static/images/jackdaw.svg", alt="jackdaw").set-w-16.set-h-14
                    +e('header', {}, 'h3')!= question.header
                        +e('answer').d-flex.set-pl-32.set-mt-32
                            +e('defendant').text-center
                                img(src=question.img, alt="photo").set-w-100.set-h-100
                                p.set-mt-12!= question.name 
                            +e('text').set-ml-35!= question.text 