.trust {
    $self: &;

    @include mobile {
        padding-bottom: 50px;
    }

    & img:nth-child(1){
        top: -122px;
        right: 38px;
    }

    & img:nth-child(2){
        top: -30px;
        left: 182px;
    }

    & img:nth-child(3){
        top: 270px;
        right: 290px;
    }

    & img:nth-child(4){
        top: 530px;
        left: 454px;
    }


    &__header {
        color: $SuperDarkGray;
        @include mobile {
            font-size: 40px;
            line-height: 50px;
            margin-top: 130px;
        }
    }

    &__cards {
        @include tablet {
            flex-direction: column;
        }
    }

    &__card {
        &:hover {
            .trust__circle {
                background: #DFDFDF;
            };
        }

        @include tablet {
            margin: 10px auto;
        }

        @include mobile {
            margin: 10px auto;
        }
    }

    &__circle {
        color: $DarkRed;
        font-weight: 500;
        width: 86px;
        height: 86px;
        border-radius: 50%;
        background: linear-gradient(to left, #F5F7F9, #DFDFDF);
        transition: 0.7s;

    }

    & h4 {
        color: $SuperDarkGray;
    }

    & p {
        color: $DarkGray;
    }
}