.plate {
    $self: &;

    &__box {
        flex-direction: column;
        align-items: center;
        height: 534px;
        border-radius: 30px;
        background-image: url(/src/static/images/plate_bk.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        color: #FFFF;
    }

    &__header {
        font-size: 56px;
        line-height: 64px;
    }

    & p {
        font-size: 32px;
        line-height: 44px;
    }
}