mixin plate
  +b('plate').set-mt-150
    .container
        +e('box').w-100.d-flex.text-center
            +e('header', {}, 'h3').set-mt-108.fz-56.lh-64 Рост продаж через точное </br>понимание задач
            p.set-mt-50.fz-32.lh-44 Решения рождаются в прямом диалоге с Вами.
            +e('button').brand-button.frameless.link-red.text-uppercase.set-mt-52 
              a(href="#").link-red обсудим
