.plate {
    $self: &;

    @include tablet {
        padding: 0 20px;
      }

    &__box {
        flex-direction: column;
        align-items: center;
        height: 534px;
        border-radius: 30px;
        background-image: url(/src/static/images/plate_bk.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        color: #FFFF;
    }

    &__header {
        @include mobile {
            margin-top: 65px;
            font-size: 35px;
            line-height: 55px;
          }
    }

    & p {
        @include mobile {
            font-size: 20px;
          }
    }

}