mixin plate
  +b('plate').set-mt-150
    .container
        +e('box').w-100.d-flex.text-center
            +e('header', {}, 'h3').set-mt-108 Рост продаж через точное </br>понимание задач
            p.set-mt-50 Решения рождаются в прямом диалоге с Вами.
            +e('button').brand-button.frameless.link-red.no-line.text-uppercase.set-mt-52 обсудим
