mixin price-con
  +b('price-email').position-relative.set-pt-149.set-pb-55
    .container
        +e('header').fz-56.lh-72 Стоимость Контент-маркетинг
        h5.fz-18.lh-24.set-mt-24.set-mb-82 Пакетные предложения для каждого этапе развития вашего бизнеса от стратегии до внедрения </br>и сопровождения
        +e('box').set-mb-24
            -
                cards = [
                    {header: 'Старт', text: 'Для компаний, которые </br>планируют вести блог на сайте', price: '15 000 <span>руб</span>', ul: ["Определение KPI", "Создание контент-плана: </br> — Определение рубрик и тем для </br><span>материалов</span> </br> — Создание календаря публикаций </br><span>на 1  месяц</span>", "Написание статей на сайт компании", "Продвижение статей", "Анализ эффективности контента"]},
                    {header: 'Оптимальный', text: 'Для тех, кто хочет совместить </br>корпоративный блог и социальные сети', price: '23 000 <span>руб</span>', ul: ["Аудит существующего контента", "Определение KPI", "Создание контент-плана: </br>— Определение рубрик и тем для </br><span>материалов;</span> </br>— Выбор площадок для постинга; </br>— Создание календаря публикаций  </br><span>на 1 месяц</span>", "Написание постов для соцсетей", "Написание статей на сайт компании", "Продвижение статей", "Анализ эффективности контента"]},
                    {header: 'Бизнес', text: 'Для тех, кому нужен комплексный </br>интернет-маркетинг', price: '31 000 <span>руб</span>', ul: ["Аудит существующего контента", "Составление контент-стратегии: </br>— Анализ рынка, ЦА и конкурентов; </br>— Подбор и описание площадок </br><span>для  публикаций;</span> </br>— Рекомендации по работе с </br><span>площадками</span>; </br>— Разработка коммуникационной </br><span>стратегии и редполитики</span>", "Определение KPI", "Создание контент-плана </br>— Определение рубрик и тем </br><span>для материалов;</span> </br>— Выбор площадок для постинга; </br>— Создание календаря публикаций </br><span>на 1 месяц</span>", "Написание постов для соцсетей", "Написание статей на сайт компании и на внешние площадки", "Продвижение статей", "Анализ эффективности контента"]},
                    ]
            for sheet, index in cards
                +e('sheet').set-w-416
                    h2.click.fz-40.lh-55= sheet.header
                    p.click.fz-14.lh-20!= sheet.text
                    hr.click-hr.set-mt-27.set-mb-21
                    +e('priсe').click.fz-64.lh-87.set-mb-30!= sheet.price
                    a(href="#").brand-button.link-red.set-w-220.set-mb-63.set-ml-62 Заказать услугу
                    ul.click.text-left.fz-16.lh-24
                        - item= sheet.ul
                                for x in item
                                    li.set-mt-10!= x
        +b('rate').d-flex
            +e('box')
                h3.fz-40.lh-55.set-mb-14  Индивидуальный тариф под ключ
                h4.fz-16.lh-24 Решение для комплексного  е-mail маркетинга под ключ
            +e('button', {}, 'a')(href="#").brand-button.link-red.set-w-340 Заказать услугу
