mixin price-email
  +b('price-email').position-relative.set-pt-149.set-pb-55
    .container
        +e('header').fz-56.lh-72 Стоимость email-рассылки
        h5.fz-18.lh-24.set-mt-24.set-mb-82 Пакетные предложения для каждого этапе развития вашего бизнеса от стратегии до внедрения </br>и сопровождения
        +e('box').d-flex.set-mb-24
            -
                cards = [
                    {header: 'Старт', text: 'Решение для успешного </br>старта в e-mail маркетинге', price: '15 000 <span>руб</span>', ul: ["Анализ вашей контактной базы", "Создание письма для формы подписки и сбора контактов", "Настройка приветственной серии писем", "Построение дальнейшей стратегии развития"]},
                    {header: 'Оптимальный', text: 'Решение для успешного </br>старта в e-mail маркетинге', price: '35 000 <span>руб</span>', ul: ["Анализ и аудит вашей контактной базы </br>и рассылок", "Разработка стретегии", "Настройка и запуск приветственной </br>серии для покупателей", "Составление плана и запуск промо-</br>рассылок"]},
                    {header: 'Бизнес', text: 'Решение автоматизированного </br>e-mail маркетинга для бизнеса', price: '80 000 <span>руб</span>', ul: ["Анализ и аудит вашей контактной базы </br>и рассылок", "Настройка и запуск автоматической серии писем", "Настройка и запуск приветственной серии для покупателей", "Настройка и запуск триггеров для cross-sell/up-sell", "Триггер “Брошенная корзина”", "Триггер “Брошенный просмотр”", "Триггер “Реактивация”", "Составление плана и запуск промо-рассылок"]},
                    ]
            for sheet, index in cards
                +e('sheet').set-w-416
                    h2.click.fz-40.lh-55= sheet.header
                    p.click.fz-14.lh-20!= sheet.text
                    hr.click-hr.set-mt-27.set-mb-21
                    +e('priсe').click.fz-64.lh-87.set-mb-30!= sheet.price
                    a(href="#").brand-button.link-red.set-w-220.set-mb-63.set-ml-62 Заказать услугу
                    ul.click.text-left.fz-16.lh-24
                        - item= sheet.ul
                                for x in item
                                    li.set-mt-10!= x
        +b('rate').d-flex
            +e('box')
                h3.fz-40.lh-55.set-mb-14  Индивидуальный тариф под ключ
                h4.fz-16.lh-24 Решение для комплексного  е-mail маркетинга под ключ
            +e('button', {}, 'a')(href="#").brand-button.link-red.set-w-340 Заказать услугу
