.price-email {
    $self: &;
    background: $ExtraBrightGray;
    opacity: 0.99;
    text-align: center;

    @include mobile {
        padding-top: 60px;
    }

    &__header {
        color: $SuperDarkGray;
        font-weight: 700;

        @include mobile {
            font-size: 40px;
            line-height: 60px;
        }
    }

    & h5 {
        color: $DarkGray;
    }

    &__box {
        display: grid;
        gap: 50px;
        grid-template-columns: repeat(auto-fit, minmax(416px, 1fr));
        justify-content: space-between;
    }

    &__sheet {
        align-items: stretch;
        background: $White;
        border-radius: 30px;
        padding: 40px;
        transition: 0.6s;

        @include tablet {
            margin: 0 auto;
        }

        &:hover {
            color: $White;
            background: $DarkRed;
            .click {
                color: $White;
            }
        }
    }

    & h2 {
        font-weight: 500;
        color: $DarkRed;
    }

    & p {
        color: $DarkGray;
    }

    & hr {
        border-top: 2px solid $Gray; 
    }

    &__priсe {
        font-weight: 600;
        color: $SuperDarkGray;
        & span {
            font-size: 16px;
            line-height: 20px;
            color: $Gray;
        }
    }

    & ul {
        list-style-type: disc;
        color: $DarkGray;
        text-align: left;
        & span {
            margin-left: 16px;
        }
    }

    
}

.rate {
    justify-content: space-between;
    align-items: center;
    background: $White;
    border-radius: 30px;
    padding: 50px 40px;

    @include mobile {
        flex-direction: column;
    }

    
    &__box {
        text-align: left;
    }

    &__button {
        margin-top: 20px;
    }

    & h3 {
        font-weight: 500;
        color: $DarkRed;
    }
    
    & h4 {
        color: $DarkGray;
    }
}
