include ../menu/menu-crm
include ../icon/icon

mixin header-crm(data)
  +b('header-crm-backend')&attributes(attributes)
    img(src="/src/static/images/header-crm-circle-big.png", alt="circle").back.position-absolute
    +menu-crm
    +b('header-crm', {}, 'header').position-relative.set-pt-92.set-pb-275
      img(src="/src/static/images/header-crm-bk.png", alt="backend").position-absolute.set-w-547.set-h-525
      img(src="/src/static/images/header-crm-circle.png", alt="circle").position-absolute.set-w-417.set-h-417
      .container.position-relative
        +e('tagline', {}, 'h4').fz-20.lh-27 Строим систему долгосрочных отношений с вашими клиентами
        +e('header', {}, 'h1').fz-64.lh-72.set-mt-31 CRM-маркетинг
        p.set-mt-58.fz-18.lh-24 Собираем данные и создаем уникальные предложения </br>для увеличения продаж
        +e('button', {}, 'a')(href="#").brand-button.link-red.set-w-200.set-mt-60 Оставить заявку