.header-crm-backend {
  background: linear-gradient(62.98deg, #DFDFDF -25.47%, #FFFFFF 81.18%);
  opacity: 0.99;

}

.back {
  width: 547px;
  top: 0;
  right: 0;
  z-index: -1;
}

.header-crm {
    $self: &;
    min-height: 722px;
    opacity: 0.99;
    
    & img:nth-child(1) {
      top: 131px;
      right: 160px;
    }
  
    & img:nth-child(2) {
      top: 306px;
      left: 0;
      z-index: -1;
   }
  
    &__header {
      color: $SuperDarkGray;
    }
  
    & p {
      color: $DarkGray;
    }
  
    &__tagline {
      color: $DarkRed;
    }

    &__button {
      background: rgba(255,101,80,0);
    }
  }

  
  .cal {
    opacity: 0;
    transition: 1s;
    &:hover {
      opacity: 0.7;
    }


  }

  .blog-cards {
    justify-content: space-between;
    
    &__card {
      background: $White;
      width: 398px;
      height: 500px;
      border-radius: 20px;
    }

    &__bk-cont {
      background: linear-gradient(178.5deg, #E2E2E2 1.28%, rgba(255, 255, 255, 0) 157.74%);
      border-radius: 20px 20px 0 0;
    }

    &__card-bottom {
      padding-left: 34px;
    }

    & img {
      display: block;
      margin-left: auto;
      margin-right: auto;
    }

    & img:nth-child(1) {
      width: 244px;
      height: 216px;
    }

    & img:nth-child(2) {
      width: 280px;
      height: 211px;
    }

    & img:nth-child(3) {
      width: 290px;
      height: 236px;
    }
  }