.header-crm-backend {
  background: linear-gradient(62.98deg, #DFDFDF -25.47%, #FFFFFF 81.18%);
  opacity: 0.99;

}

.back {
  width: 547px;
  top: 0;
  right: 0;
  z-index: -1;
  @include mobile {
    display: none;
  }
}

.header-crm {
    $self: &;
    opacity: 0.99;

    @include tablet {
      padding-top: 20px;
      padding-bottom: 20px;
  }
    
    & img:nth-child(1) {
      top: 131px;
      right: 160px;
    }
  
    & img:nth-child(2) {
      top: 306px;
      left: 0;
      z-index: -1;
   }
  
    &__header {
      color: $SuperDarkGray;
    }
  
    & p {
      color: $DarkGray;
    }
  
    &__tagline {
      color: $DarkRed;
    }

    &__button {
      background: rgba(255,101,80,0);
    }
  }

  
  .cal {
    opacity: 0;
    transition: 1s;
    &:hover {
      opacity: 0.7;
    }


  }

  .blog-cards {
    display: grid;
    gap: 25px;
    grid-template-columns: repeat(auto-fit, minmax(398px, 1fr));
    justify-content: space-between;
    
    @include tablet {
      margin: 20px 40px;
    }
    
    @include mobile {
      grid-template-columns: repeat(auto-fit, minmax(310px, 1fr));
    }

    &__card {
      background: $White;
      height: 500px;
      border-radius: 20px;
    }

    &__bk-cont {
      background: linear-gradient(178.5deg, #E2E2E2 1.28%, rgba(255, 255, 255, 0) 157.74%);
      border-radius: 20px 20px 0 0;
    }

    &__card-bottom {
      padding-left: 34px;
    }

    & h3 {
      color: $SuperDarkGray;
    }

    & img {
      display: block;
      margin-left: auto;
      margin-right: auto;
    }

    & img:nth-child(1) {
      width: 244px;
      height: 216px;
    }

    & img:nth-child(2) {
      width: 280px;
      height: 211px;
    }

    & img:nth-child(3) {
      width: 290px;
      height: 236px;
    }
  }

  .video_player {

    @include mobile{
      padding-top: 45px;
    }

    &__wrapper {
      justify-content: space-between;

      @include tablet {
        display: block !important;
      }
    }

    &__header {
      font-weight: 700;
      color: $SuperDarkGray;
      @include tablet {
        font-size: 48px;
        line-height: 47px;
        text-align: center;
    }
    }

    &__video {
      aspect-ratio: 16/9;
      max-width: 692px;
      max-height: 390px;
      @include tablet {
        margin: 20px auto;
      }
    }

    &__video video {
      object-fit: cover;
      width: 100%;
      height: 100%;
      @include mobile {
        width: 85%;
        height: 85%;
        margin: 0 8%;
      }
    }

    &__name {
      font-weight: 700;
      color: $SuperDarkGray;
    }

    & p {
      color: $DarkGray;
    }

    &__list {
      position: sticky;
      overflow: auto;
      max-height: 390px;
      max-width: 552px;
      @include tablet {
        margin: 35px auto 0;
      }
    }

    &__list-item {
      &:hover {
        background: linear-gradient(180deg, #eff0f0 0%, #cccbcb 100%);
        box-shadow: 0px 7px 10px 3px rgba(204, 203, 203, 0.94);
      }
    }

    &__list-video Video {
      aspect-ratio: 16/9;
      max-width: 205px;
      max-height: 114px;
    }

    & h5 {
      color: $SuperDarkGray;
      font-weight: 700;
    }
  
  }

  .img-video {
    top: 45px !important;
    left: 98px !important;
    z-index: 2 !important;
  }


  .cases-row {
    display: grid;
    gap: 25px;
    grid-template-columns: repeat(auto-fit, minmax(416px, 1fr));
    justify-content: space-between;

    &__casus {
      height: 295px;
      border-radius: 30px;
      box-shadow: 0px 5px 26px rgba(0, 0, 0, 0.25);
      background: linear-gradient(180deg, #F5F7F9 0%, #FFFFFF 28.64%)
    }

    & h6 {
      bottom: 32px;
      left: 50px;
      color: $SuperDarkGray;
    }
  }

  .case-img-bk {
    top: 50px !important;
    left: 133px !important
  }

  .hide {
    display: none;
  }

  .window {
    content: '';
    width:100%;
    min-height:100%;
    background-color: rgba(0,0,0,0.5);
    overflow:hidden;
    position:fixed;
    padding-bottom: 485px;
    z-index: 3;

  }
  
  .window__content {
    margin-top: 187px;
    left: 13%;
    width: 1080px;
    height: 2200px;
    background: linear-gradient(180deg, #F5F7F9 0%, #FFFFFF 28.64%);
    border-radius: 30px;
    z-index: 5;

    & h6 {
      font-weight: 700;
    }
  }

  .cross-case {
    top: 5px;
    right: -56px;
  }

  