.header {
  $self: &;
}

.header{

  &__hello {
    color: $Gray;
  }

  &__bloks {
    border: 2px solid $DarkRed;
    height: 200px;
    width: 200px;
    background: $GradientRed;

    &_two {
      padding-top: 15px;
      background: $GradientGray;
    }
  }

}