.footer {
  $self: &;
  background: #E5E5E5;

  &__img-1 {
    background-image: url(/src/static/images/footer_telephone.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  &__img-2 {
    background-image: url(/src/static/images/footer_mail.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  &__img-3 {
    background-image: url(/src/static/images/footer_address.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  &__box {
    display: grid;
    grid-template: 1fr / 15% 15% 15% 15% 1fr;
    justify-content: space-between;
    @include tablet {
      margin: 20px 40px;
      gap: 20px;
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }

    @include mobile {
      text-align: center;
    }
  }

  &__services {
    @include tablet {
      line-height: 20px;
    }
  }
  
  &__contacts {
    min-width: 260px;
    @include mobile {
      margin: 0 auto;
    }
  }

  &__agency {
    @include tablet {
      line-height: 20px;
    }
  }

  &__wrapper {
    @include mobile {
      display: flex;
      justify-content: center;
      .footer__social-link:nth-child(2) {
        margin-top: 2px;
      }
      .footer__social-link:nth-child(3) {
        margin-top: 6px;
      }
    }
  }

  &__form {
    position: relative;
    display: flex;
    padding: 9px 15px 9px 9px;
    border-radius: 50px;
    background: #ffffff;
    color: $Gray;
    &-label {
      position: absolute;
      z-index: 1;
      top: 50%;
      left: 34px;
      display: block;
      width: 19px;
      height: 15px;
      transform: translateY(-50%);
      background-image: url(/src/static/images/footer_input-mail.svg);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
    }
  }

  &__social-link {
    display: block;
    }

  & input {
    border: none;
    background: #ffffff;
    color: $SuperDarkGray;
    margin-left: 73px;
  }

  &__button {
    position: absolute;
    top: 6px;
    right: 9px;
  }


  & hr {
    border: none; 
    background-color: $Gray;
    color: $Gray; 
    height: 2px;
  }

  & a {
    color: $DarkGray;
    text-decoration: none;
  }

  & p {
    color: $DarkGray;
  };

  &__follow {
    & p {
      color: $SuperDarkGray;
    }
  }

  & h2 {
    font-weight: 700;
    color: $SuperDarkGray;
  }

  & h3 {
    font-weight: 700;
    color: $SuperDarkGray;
    font-size: 20px;
    line-height: 27px;
    margin-bottom: 23px;
  }

  & a:hover {
    color: $Red;
  }

}