extends ./layouts/default
include ./modules/head/head
include ./modules/consultation/consultation



block head
  +head({ title: 'Карьера' })

block header
    +header-career

block content
    +consultation