extends ./layouts/default
include ./modules/head/head
include ./modules/consultation/consultation



block head
  +head({ title: 'Контакты' })

block header
    +header-contact

block content
    +consultation