extends ./layouts/default
include ./modules/head/head
include ./modules/cases/cases-crm
include ./modules/consultation/consultation
include ./modules/compatibility/compatibility-crm
include ./modules/jump/jump-crm
include ./modules/usage/usage-crm
include ./modules/questions/questions


block head
  +head({ title: 'CRM-маркетинг' })

block header
    +header-crm

block content
    +cases-crm
    +compatibility-crm
    +usage-crm
    +jump-crm
    +questions
    +consultation