extends ./layouts/default
include ./modules/head/head


block head
  +head({ title: 'Список страниц | KEYNEX' })
    
block content
  - 
    pages = [
      { href: '/main.html', title: 'Главная' },
      { href: './crmMarketing.html', title: 'CRM-маркетинг' },
    ]

  .page
    .container
      ul.pages-list
        for page in pages
          li
            a(href=page.href)= page.title
