include ../../node_modules/bempug/index
- BEMPUG.modifier = '_';

include ../modules/head/head
include ../modules/footer/footer
include ../modules/header/header
include ../modules/header/header-crm
include ../modules/header/header-email
include ../modules/header/header-con
include ../modules/header/header-tel


doctype html
html(lang="ru")
  block head
    +head
  body
    block header
      +header
    block content
    
    +footer